%% -*- erlang -*-

{erl_opts, [
    {parse_transform},
    debug_info,
    warnings_as_errors
]}.

{pre_hooks,
    [{compile, "cmake -B c_src -G 'Unix Makefiles' -DCMAKE_BUILD_TYPE=Release"},
        {"(linux|darwin|solaris)", compile, "make -C c_src"},
        {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
    [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
        {"(freebsd)", clean, "gmake -C c_src clean"}]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_apps,all_deps}
]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
    deprecated_function_calls, deprecated_functions]}.

{shell, [
    {apps, [erltss2]}
]}.
